* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(38, 44, 44);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  /* position: sticky;
  top: 0; */
}
.nav ul {
  margin-right: 85px;
  /* padding: 28px; */
}
.nav ul a {
  text-decoration: none;
  color: white;
  margin: 15px;
}
.nav ul a:hover{
  font-size: large;
  color: brown;
}
.logo {
  margin-left: 36px;
  font-size: xx-large;
  font-family:cursive;
  font-style: italic;
  font-weight: bolder;
  text-shadow: 2px 2px brown;
}
.main-background-image{
  background-image: url(back2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main {
  /* background-color: bisque; */
  height: 70vh;
  display: flex;
  justify-content: center;
  /* background-image: url(back2.png);
  background-repeat: no-repeat;
  background-size: 100%; */
  /* background-image: url(icon2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
}
.icon-box{  
  margin-top: 100px;
  width: 225px;
}
.icon-img{
  height: 215px;
  width: 215px;
  border: solid 3px black;
  border-radius: 50%;
}
.main-content-box{
  margin-top: 140px;
  margin-left: 20px;
  /* color: white; */
}
.main-content-box .infobox .mh1{
  font-size: 50px;
  text-decoration: double;
}
.main-content-box .infobox .mh2{
  font-size: 30px;
}
.main-content-box .infobox .main-para{
  font-size: large;
}
.main-button-box{
  margin-top: 15px;
}
.main-button{
  height: 27px;
  width: 130px;
  border-radius: 4px;
}
.main-button:hover{
  box-shadow: 4px 4px;
  /* color: brown; */
}
.main-button-a{
  text-decoration: none;
  color: black;
  height: 50px;
  font-size: x-large;
}

/* .about {
  background-color: rgb(75, 52, 21);
  height: 70vh;
} */
.skills {
  /* background-color: blueviolet; */
  height: 70vh;
  /* display: grid;
  justify-content: center; */
}
.spara {
  color: rgb(0, 0, 0);
  margin-left: 540px;
  padding-top: 40px;
  font-size: 40px;
}
.sbox {
  display: grid; 
  /* justify-content: space-between; */
  grid-template-columns: auto auto auto auto;
  margin: 80px;
  margin-left: 140px;
}
/* .skillbox {
  border-collapse: collapse;
  border: 3px solid;
  width: 200px;
  height: 250px;
  background-color: black;
} */
.langfig {
  text-align: center;
  padding-left: 15px; 
  box-shadow: 3px 3px 3px brown;
}
.langfig a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.langfig .langimg {
  width: 240px;
  height: 190px;
}
.langfig:hover {
  transition: ease;
  width: 240px;
  height: 225px;
  border: 2px brown solid;
  /* box-shadow: 3px 3px 3px brown; */
  font-size: 30px;
  text-decoration: double;
}
.contact {
  /* background-color: brown; */
  height: 70vh;
  display: grid;
  justify-content: center;
}

.contact-h{
  margin-top: 25px;
  padding-left: 96px;
}

.contactbox-form{
  background-color: black;
  width: 350px;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}

.form-contents{
  display: grid;
  grid-template-rows: auto;
  margin: 15px;
}

/* .form-contents .form-content{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#name{
  height: 20px;
  margin-top: 8px;
  padding-top: 8px;
  border-radius: 5px;
}
#name:hover{
  height: 22px;
  width: 315px;
  border-color: red;
}
#email{
  height: 20px;
  margin-top: 8px;
  padding-top: 8px;
  border-radius: 5px;
}
#email:hover{
  height: 22px;
  width: 315px;
  border-color: red;
}
#text{
  width: 300px;
  height: 80px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
#text:hover{
  height: 83px;
  width: 298px;
  border-color: red;
}
.contactbox-form .submit-button{
  margin-left: 15px;
  width: 141px;
  font-size: 17px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px white solid;
  cursor: pointer;
}
.contactbox-form .submit-button:hover{
/* background: rgb(99, 0, 0); */
border-color: brown;
width: 144px;
font-size: large;
}
.footer{
  width: 100%;
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profiles-links-a{
  color: white;
  text-decoration: none;
}
.profiles-links-a:hover{
  color: brown;
}
.footer-text{
  font-size: x-large;
}
.divider{
  height: 2px;
  background-color: #000000;
}